@model AplicacaoWeb.Models.UsuarioModel
@{
    Layout = null;
    ViewBag.Title = "Login";
}

<link href="~/Content/LoginStyle.css" rel="stylesheet" />
<div class="login">
    <h1>Acesso ao Sistema XPTO</h1>
    @using (Html.BeginForm("Logon", "Login", FormMethod.Post))
    {
        <div>

            @Html.TextBoxFor(x => x.Login, new { @class = "quantity form-control", @placeholder = "Login", @type = "text", @minlength = 6, @required = "required" })
            @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
        </div>
        <div>

            @Html.TextBoxFor(x => x.Senha, new { @class = "form-control", @placeholder = "Senha", @type = "password", @minlength = 6, @required = "required" })
            @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn btn-primary btn-block btn-large">Entrar</button>
        if (this.Session["ErroMessage"] != null && !string.IsNullOrEmpty(this.Session["ErroMessage"].ToString()))
        {
            <p style="color:red">@this.Session["ErroMessage"].ToString() </p>
            this.Session.Remove("ErroMessage");
        }
        <div>
            <p style="color:white" class="text--center">Ainda não tem acesso? <a style="color:cornflowerblue" href="@Url.Action("SignUp", "Login")">Criar Conta</a>
        </div>
        <div>
            <p style="color:white" class="text--center">Esqueceu a senha? <a style="color:cornflowerblue" href="@Url.Action("ResetSenha", "Login")">Reset de Senha</a>
        </div>
    }

</div>
